@media screen and (max-width: 1400px) {

  .mx{
    display: none;
  }
  .mo{
    display: inline-block;
  }
  .mo2{
    display: none;
  }
  .gnb>ul>li {
    padding: 0 25px;
}
    .src2,.src3,.src4,.src5 {
      margin-top: 80px;
  }
  .src6{
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .s1top1 .text {
    max-width: 110px;
    margin: 0 auto 4px;
    font-size: 1.3rem;
}
.number {
  font-size: 1.8rem;
}
.s1-topik {
  width: 6rem;
  height: 6rem;
}
.s1r-top {
}
.s1md-tx {
  font-size: 1.3rem;
}
.s1md-tx2 span {
  font-size: 13px;
  margin-left: 0px;
}
.s1r-middle {
  padding: 11px;
  border-radius: 16px;
}
.s1md-ti {
  font-size: 1.3rem;

}
.s1-Lbottom {
  padding: 21px 33px 16px;
  bottom: -2px;
  left: -2px;
  border-radius: 0 20px 0 0;
  position: absolute;
  background-color: var(--wh);
}
.s1-iksp2 {
  line-height: 24px;
  font-size: 14px;
}
.s1-iksp2 img {
  width: 24px;
}
.s1-Lbottom::before {
  left: 0;
  top: -20px;
}
.s1-Lbottom::after {
  right: -20px;
  bottom: 0;
}
.s1-Ltop {
  top: -0.2rem;
  right: -0.2rem;
  padding: 5px 5px 6px 17px;
  border-radius: 0 0 0 20px;
  position: absolute;
  background-color: var(--wh);
}
.s1-Ltop::before {
  left: -20px;
  top: 0;
}
.s1-Ltop::after {
  right: 0;
  bottom: -20px;
}
.s1-Ltop::after, .s1-Ltop::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../img/다운로드.svg);
}
.s1-Lbottom::after, .s1-Lbottom::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(../img/s1_bt.svg);
}
.sh-menu {
  max-width: 952px;
}
.group_search {
  padding: 96px 0;
  background-position: top 72px right 30px;
  background-size: 132px 146px;
}
.group_search .wrap_search {
  width: 600px;
}
.ico_search_bold {
  top: 18px;
  width: 24px;
  height: 24px;
}
.group_search .wrap_search input {
  padding: 18px 24px 18px 60px;
  line-height: 24px;
  font-size: 18px;
  letter-spacing: -.5px;
  background-image: url(../img/inp3.svg);
}
.group_search .wrap_tag {
  max-width: 446px;
}
.s1r-bt1, .s1r-bt2, .s1r-bt3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
}
.slick-arrow {
  border: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  width: 24px;
  height: 24px;
  font-size: 0;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
  opacity: 0.8;
}
.slick-next {
  left: auto;
  right: 10px;
}

.s2_bottom {
  margin-top: 25px;
}
.s2-topbutton {

  width: 32px;
  height: 32px;

}
.s2_topti {
  line-height: 48px;
}
.s2_topti::before {
  margin-right: 5px;
  width: 48px;
  height: 48px;

}
.bt2-img img{
  margin-top: 20px;
width: 40px;
height: 40px;
}
.cont {
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 24px 24px 0;
}.sr2inner {
  height: 365px;
  padding: 0 6px;
}
.type_normal {
  width: 308px;
}
.s2b-webp {
  margin-top: 64px;
  height: 174px !important;
}
.s2b-tx-ti img {
  width: 32px;
  height:32px;
  margin-right: 4px;

}
.s2b-tx-ti > span {
  height: 26px;
  margin-top: 3px;
  line-height: 25px;
  font-size: 14px;
}
.cont >a {
  display: block;
  font-size: 1px;
  margin: 0 -24px;
  outline-offset: -1px;
}
.s2b-normal-ti2 {
  font-size: 18px;
  line-height: 1.55;
  padding: 0 24px;
  height: 56px;
  letter-spacing: -.5px;
  -webkit-line-clamp: 2;
}
.normal-p2 {
  top: 153px;
  left: 24px;
  right: 24px;
  height: 18px;
  font-size: 13px;
  line-height: 18px;
}

.s3-ti {
  line-height: 48px;
}
.s3-ti::before {

  width: 48px;
  height: 48px;
  margin-right: 5px;
}
.s3-content {
  margin-top: 25px;
}
.s3-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  margin: -8px 0 0 -8px;
}
.s3-listbox {
  height: 110px;
  margin: 8px 0 0 8px;
  padding: 32px 24px;
  border-radius: 16px;
}
.s3-boxti {
  font-size: 1.8rem;
  letter-spacing: -.5px;
}
.s3-boxik a {

  width: 46px;
  height: 46px;
  margin-left: 9px;

}
.src3-bt {
  margin-top: 25px;
  text-align: center;
  
}
.src3-bt a {
  width: 280px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  font-size: 15px;
  letter-spacing: -.2px;
}
.src3-bt a img {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}
.s4-ti {
  line-height: 48px;
}
.s4-ti::before {

  width: 48px;
  height: 48px;
  margin-right: 5px;
}
.s4-contnet {
  margin-top: 25px;
}
.s4-topbox {
  overflow: hidden;
  width: 33%;
  height: 424px;
  margin: 0px 6px;
}
.s4-top-cont {
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 30px 30px 0;
}
.s4-topti-img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.s4-topti-txt {
  height: 34px;
  font-size: 12px;
  line-height: 33px;
}
.s4-topti-txt2 {
  margin: 0 0 0 8px;
  font-size: 12px;
  line-height: 41px;
}
.s4-top-cont a {
  margin: 0 -30px;
}
.s4-top-ti2 {
  height: 112px;
  margin-top: 12px;
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.55;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.s4-top-webp {
  position: relative;
  display: block;
  height: 200px !important;
  margin-top: 25px;
}
.s4-top-txt {
  top: 180px;
  left: 24px;
  right: 24px;
  height: 18px;
  font-size: 13px;
  line-height: 18px;
}
.s4-ct-bottom {
  margin-top: 15px;
}
.s4-bbox {
  width: 50%;
  height: 142px;
  margin: 0 6px;
  padding: 24px;
}
.ti-tx {
  height: 34px;
  font-size: 12px;
  line-height: 33px;
}
.s4-bbox-bottom {
  margin-top: 4px;
  font-size: 17px;
  line-height: 26px;
  height: 52px;
}
.ti-tx2 {
  margin: 0 0 0 8px;
  font-size: 12px;
  line-height: 41px;
}
.s4-b-bbox a {
  height: 74px;
  margin: 0 0 0 12px;
  padding: 24px;
}
.s4-b-bbox a>strong {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -.2px;
}
.s4b-bbox-btu {
  line-height: 26px;
  font-size: 0px;
}
.s5-ti {
  line-height: 48px;
}
.s5-ti::before {

  width: 48px;
  height: 48px;
  margin-right: 5px;
}
.s5-contnet {
  margin-top: 25px;
}
.s5-box {
  height: 397px;
  margin-left: 12px;
  border-radius: 16px;
  width: calc(33.333% - 12px);
}
.s5-box-tin {
  width: 168px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-radius: 20px;
}
.s5-box-ti {
  padding: 0 0 12px 12px;
  border-radius: 0 0 0 20px;
}
.s5-box-ti::before {
  left: -16px;
  width: 18px;
  height: 18px;

}

.s5-box-ti::after {
  bottom: -16px;
  width: 18px;
  height: 18px;
}
.s5-img {
  width: 100%;
  top: 103px;
}
.esg p {
  bottom: 24px;
  left: 24px;
  font-size: 16px;
  line-height: 1.52;
  letter-spacing: -.2px;
  max-width: 209px;
}
.s5-btn {
  padding: 12px 0 0 12px;
  border-radius: 24px 0 0 0;
}
.s5-btn img {
  width: 48px;
  height: 48px;
  }
  .s5-btn::before {
    left: -16px;
    width: 18px;
    height: 18px;
}

.s5-btn::after {
  top: -16px;
  width: 18px;
  height: 18px;
}
.green .s5-img, .policy .s5-img {
  width: 180px;
}
.green p, .policy p {
  bottom: 24px;
  left: 24px;
  font-size: 16px;
  line-height: 1.52;
  letter-spacing: -.2px;
  max-width: 209px
}
.s6-contnet {
  margin-top: 20px;
}
.s6-center {
/*   min-width: 308px; */
  margin-top: -12px;
}
.s6-inner_top {

  height: 354px;
}
.s6-ct-box {
  height: 110px;
  margin-top: 12px;
  padding: 24px;
}
.s6-ctik {
  right: 24px;
  width: 60px;
  height: 60px;
}
.s6-ct-ti {
  font-size: 17px;
  line-height: 1.52;
  letter-spacing: -.2px;
}
.s6-ct-tex {
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -.2px;
}
.s6-social > strong {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: -.5px;
  margin-bottom: 12px;
}
.s6-social {
  margin-left: 12px;
  padding: 24px;
  border-radius: 24px;
  color: #000;
  background-size: 190px auto;
}
.s6-sub_tex {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: -.2px;
}
.s6-si-ik {
  width: 46px;
  height: 46px;
}
.s6-social2 {
  margin-left: 12px;
  padding: 24px;
  border-radius: 24px;
}
.s6-social2 > strong {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: -.5px;
  margin-bottom: 12px;
}
.s6-sub_tex img {
  margin: -2px 0 0 8px;
}
.s6-bottom {
  margin-top: 0px;
}
.s6-bt a {
  width: 280px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  font-size: 15px;
  letter-spacing: -.2px;
}
.s6-bt {
  margin-top: 40px;
  text-align: center;
}
.group_info {
  width: 594px;
  margin-top: -6px;
}
}

/* ///////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1050px) {
  .gnbframe {
    max-width: 712px;
    padding: 0px;
    z-index: 2000;
    left: 0;
    right: 0;
    border: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    position: fixed;
    background: var(--wh);
    margin: 0 auto;
}
.gnb_iks {
  width: 8rem;
  display: flex;
  justify-content: space-between;
}
  .w1700{
    padding: 0;
  }
  .mx{
    display: none;
  }
  .mo2{
    display: inline-block;
  }

  .sh-menu {
    max-width: 666px;
  }
  .group_search {
    padding: 84px 0;
    background-position: top 78px right;
    background-size: 96px 106px;
  }
  .group_search .wrap_search {
    width: 450px;
  }
  .group_search .wrap_search input {
    background-image: url(../img/inp4.svg);
  }
  .group_search .wrap_tag {
    max-width: 352px;
  }


  .src1 {
    display: flex;
    flex-direction: column;
}
  .main-content {
    max-width: 712px;
    margin: 0 auto;
  }
  .src1_L {
    width: 100%;
    height: 405px;
}
.src1_R {
  width: 100%;
  height: 232px;
  margin-top: 20px;
  font-size: 0;
/*   display: flex; */
}
.s1r-top {
  height: 232px;
        width: 232px;
        display: inline-block;
        vertical-align: top;
        border-radius: 16px;
}
.s1r-middle {
  margin-top: 0;
  margin-left: 8px;
  height: 232px;
        width: 232px;
        display: inline-block;
        vertical-align: top;
        border-radius: 16px;
        padding: 20px;
}
.s1r-bottom {
  margin-top: 0;
  margin-left: 8px;
  height: 232px;
        width: 232px;
        display: inline-block;
        vertical-align: top;
        border-radius: 16px;
}
.s1r-slick-slider {
  display: block;
  overflow: hidden;
        width: 232px;
        height: 232px;
}
.video_third {
  width: 180%;
  height: 100%;
}
.bt2-img img {
  margin-top: 60px;
  width: 80px;
  height: 80px;
}
.s1r-bt2 >span {
  bottom: 25%;
  font-weight: 400;
  font-size: 16px;
}
.s1r-bt1, .s1r-bt2, .s1r-bt3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.s1t-bts {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.s1m-bts {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
#counter {
  font-size: 3vw;
  margin-right: 5px;
  font-weight: bold;
}
.s1md-tx {
  font-size: 15px;
}


.s2_top{
  max-width: 712px;
  margin: 0 auto;
}
.type_normal {
  width: 232px;
  height: 328px;
  padding: 0 4px;
}
.cont {
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 21px 20px 0;
}

.normal {
  border-radius: 24px;

}
.s2b-webp {
  margin-top: 53px;
  height: 130px !important;
}
.s2b-normal-ti2 {
  margin-top: 8px;
  height: 84px;
  -webkit-line-clamp: 3;
}
.cont >a {
  display: block;
  font-size: 1px;
  margin: 0 -20px;
  outline-offset: -1px;
}
.normal-p2 {
  top: 164px;
  left: 24px;
  right: 24px;
  height: 18px;
  font-size: 13px;
  line-height: 18px;
}
.src3, .src4, .src5, .src6 {
  max-width: 712px;
}
















  .s4-contnet {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .s4-ct-top {
    float: left;
    width: 352px;
    margin: 0;
  }
  .s4-ct-bottom {
    float: right;
    width: 352px;
    margin-top: 0;
  }
  .s4-si {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .s4-slider {
    width: 352px;
    height: 399px;
    margin: 0;
  }
  .s4-top-cont {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 21px 20px 0;
}
  .s4-topbox {
    margin: 0 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: opacity 0.5s ease; /* 슬라이드 전환 효과 */
    opacity: 0; /* 초기에 모든 슬라이드를 숨김 */
    height: 399px;
  }
  
  .s4-topbox.active {
    opacity: 1; /* 활성화된 슬라이드만 표시 */
  }
  .s4-top-cont a {
    margin: 0 -20px;
}
  /* 이전/다음 버튼 스타일 */
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2; /* 슬라이드 위에 표시되도록 함 */
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }
  .s4-topti-img {
  
    width: 24px;
    height: 24px;
  
  }
  .s4-topti-txt {
    height: 26px;
    padding: 0 12px;
    line-height: 25px;
  }
  .s4-topti-txt2 {
    line-height: 26px;
  }
  .s4-top-ti2 {
    height: 84px;
    margin-top: 12px;
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 2vw;
    line-height: 1.55;
  }
  .s4-top-txt {
    top: 162px;
    right: 20px;
    left: 20px;
    height: 18px;
    line-height: 18px;
  }
  
  .s4-top-webp {
    height: 199px !important;
    margin-top: 37px;
  }
  .s4-bbox {
    width: 352px;
    height: 186px;
    border-radius: 16px;
    margin: 0;
}
.s4-b-bbox {
  flex-wrap: wrap;
  margin: 57px 0 0 -12px;
}
.s4-b-bbox a {
  flex-basis: calc(50% - 12px);
  box-sizing: border-box;
  margin: 12px 0 0 12px;
  padding: 20px;
  border-radius: 16px;
  float: left;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: auto;
}
.s5-box-tin {
  width: 125px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
}
.green .s5-img, .policy .s5-img {
  width: 140px;
}
.esg p {
  bottom: 20px;
  left: 20px;
  font-size: 17px;
  line-height: 1.52;
  max-width: 149px;
}
.green p, .policy p {
  bottom: 20px;
  left: 20px;
  font-size: 17px;
  line-height: 1.52;
  max-width: 149px;
}
.s5-box {
  width: calc(33.333% - 8px);
  height: 341px;
  margin-left: 8px;
}
.s6-top {
  display: block;
}
.s6-center {
  display: flex;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 8px;
  height: auto;
}
.s6-ct-box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: auto;
  height: 74px;
  margin-top: 0;
}
.s6-inner_top .s6-ct-box+.s6-ct-box{
  margin-left: 8px;
}
.s6-ctik {
  width: 30px;
  height: 30px;
}
.ctt2 {
  font-size: 0;
  line-height: 0;
  top: 25px;
  left: auto;
  right: 25px;
}
.s6-social {
  margin-left: 0;
  background-image: none;
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 4px);
  height: 184px;
  border-radius: 16px;
}
.s6-social2 {
  margin-left: 4px;
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 4px);
  height: 184px;
  border-radius: 16px;
  background-image: url(../img/src6-3.png);
        background-position: right 16px bottom 16px;
        background-size: 154px 68px;
}
.s6-bottom {
  margin-top: 8px;
}
.s6-inner_bottom {
  height: 140px;
}
.s6-ct-ti {
  font-size: 17px;
  line-height: 1.52;
  letter-spacing: -.2px;
  max-width: 241px;
}
.ctik2{
  right: 16px;
  width: 62px;
  height: 62px;
}
.ft-top{
  display: block;
}
.ft-inner{
  height: 1000px;
  max-width: 712px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.ft-t-tags h3 {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -.6px;
  font-weight: bold;
}
.ft-t-tags ul .tags-box+.tags-box {
  margin-top: 12px;
}
.ft-t-tags {
margin-bottom: 40px;
}
.ft-t-etc {
  position: relative;
  padding: 30px 0;
  width: 100%;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  flex: 1;
  color: var(--text1);
}
.etc-service strong {
  top: 0;
  border-top: 1px solid ;
  width: 100%;
  position: absolute;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: -.5px;
  padding: 16px 0;
  font-weight: bold;
  color: var(--text1);
  margin: 0;
}
.etc-service strong::before{
  position: absolute;
  top: 20px;
  right: 0;
  width: 14px;
  height: 14px;
  background: url(../img/foot_bg1.svg) no-repeat;
  content: "";
  background-size: cover;
}
.etc-service ul{
  margin-top: 20px;
  display: none;
}
.etc-service strong:active + ul {
  display: block;
}
/* .mx{
  display: none;
} */
.mx2{
  display: none;
}
.ft-bottom {
  margin-top: 40px;
}
.group_info {
  float: none;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}
.ft-t-info {
  width: 50%;
  margin-top: 15px;
  margin-left: 0;
}
.ft-bt {
  margin-top: 58px;
  width: 298px;
}
.ft-bt .show-box1 {
  padding: 2vw 2vw;

}
.ft-bt .show-box1 > a {
  font-size: 13px;
  padding-bottom: 1vw;
}
.txt_copyright {
  float: left;
  padding-top: 0;
  margin-top: -30px;
}
.hamburger-menu {
  position: fixed;
  top: 0;
  right: -100%; /* 초기에 화면 밖에 위치하도록 설정 */
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
/*   padding: 20px; */
  transition: transform 0.3s ease; /* transform 속성에 대한 transition을 적용 */
}

.hamburger-menu.active {
  display: block;
  opacity: 1;
}

.menu {
  max-width: 412px;
  margin: auto;
  max-height: calc(100vh - 20px); /* 페이지 높이보다 작게 설정 */
  overflow-y: auto; /* 필요할 때 스크롤 생성 */
}
.hamburger-ti{
  position: relative;
  padding: 24px 0;
  font-size: 3rem;
  font-weight: bold;
}
.hamburger-menu.active {
  transform: translateX(-100%); /* active 클래스가 추가될 때 화면 내로 슬라이드되도록 설정 */
}
.menu>ul {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 47px 0 66px;
  box-sizing: border-box;
}

.menu li {
  position: relative;
  display: inline-block;
  line-height: 52px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -.8px;
  color: var(--text1);
}
.menu li+li {
margin-top: 32px;
}
.has-submenu span{
  margin-left: 16px;
}
.menu li .ico_menu{
  width: 48px;
  height: 48px;
  margin-top: 2px;
  vertical-align: top;
}
.menu a {
  text-decoration: none;
  color: black;
}
.sub-menu {
  display: none; /* 초기에는 숨겨진 상태 */
}
.sub-menu{
  margin: 21px 0 36px 68px;
}
.sub-menu li{
  display: inline-block;
  padding: 13px 20px 15px;
  background: var(--colorBg5);
  border-radius: 30px;
  line-height: 27px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -.16px;
  color: var(--colorFg3);
}
.sub-menu.active {
  display: block;
}
.close-button {
  position: absolute;
  top: 20px;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="48px" height="48px"><path d="M0 0h24v24H0z" fill="none"/><path d="M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59 7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12 5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.39-.39.39-1.02 0-1.4z"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
}

.close-button:hover {
  filter: brightness(0.8); /* 마우스 호버시 색상 변화 */
}
.has-submenu::before {
  position: absolute;
  top: 20px;
  right: 0;
  width: 14px;
  height: 14px;
  background: url(../img/foot_bg1.svg) no-repeat;
  content: "";
  background-size: cover;
}
.menu {
  overflow-y: auto; /* 세로 스크롤이 필요한 경우에만 스크롤바 표시 */
  scrollbar-width: none; /* Firefox에 대한 스크롤바 너비 설정 */
  -ms-overflow-style: none; /* IE 및 Edge에서 기본 스크롤바 제거 */
}

.menu::-webkit-scrollbar {
  display: none; /* WebKit 기반 브라우저에서 기본 스크롤바 제거 */
}
  }

  /* /////////////////////////// */

  @media screen and (max-width: 770px) {
    .gnbframe {
      box-sizing: border-box;
      max-width: 412px;
      padding: 0 14px;
  }
  .main-content {
    max-width: 384px;
    margin: 0 auto;
}
.src1_L {
  height: auto;
}
.s1-video {
  height: 264px;
  z-index: -1;
  border-radius: 16px;
  
}
.item_visual {
  border-radius: 16px;
}
.s1-topik span {
  display: none;
  white-space: nowrap;
  position: absolute;
  left: -50px;
  top: -5.1rem;
  padding: 1.3rem 1.6rem;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  line-height: 1.7;
  background-color: var(--bg2);
  color: var(--bg);
  z-index: 2000;
}

.s1-topik {
  width: 46px;
  height: 46px;
}
.s1-Ltop::after, .s1-Ltop::before {
  width: 18px;
  height: 18px;

}
.s1-Ltop::before {
  left: -16px;
  top: 0;
}
.s1-Ltop::after {
  right: 0;
  bottom: -16px;
}
.s1-Ltop {
  padding: 5px 0 6px 8px;
  border-radius: 0 0 0 16px;
}
.s1-Ltext {
  width: calc(100% + 4px);
  margin-top: -48px;
  padding: 20px 14px 0;
  box-sizing: border-box;
        position: relative;
        top: 0;
        left: -2px;
        color: var(--text1);
        background-color: var(--baseBackground);
}
.s1-title {
  display: block;
  font-size: 26px;
  line-height: 1.38;
}
.s1-subtext {
  padding: 0;
  display: block;
  margin-top: 8px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -.2px;

}
.s1-Lbottom {
  padding: 0;
  position: static;
        border-radius: 0 16px 0 0;
}
.src1_R {
  margin-top: 16px;
  height: auto;
}
.s1-iksp2 {
  width: 100%;
  height: 48px;
  line-height: 48px;
  margin-top: 20px;
  text-align: center;
  border-radius: 24px;
  background-color: #f3f3f3;
  color: #000;
  justify-content: center;
}
.s1r-top {
  height: 262px;
  width: 100%;
}
.s1top1 .text {
  max-width: 100%;
  margin-bottom: 4px;
  font-size: 17px;
        line-height: 1.53;
}
#counter {
  font-size: 50px;
  line-height: 1.44;
}
.unit {
  font-size: 17px;
}
.s1top2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: -1;
}
.s1r-middle {
  margin-top: 16px;
  margin-left: 0;
  width: 100%;
  height: 180px;
}
.s1md-tx {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -.2px;
}
.s1md-tx2 {
  max-height: 40px;

}
.s1md-tx2 span {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: -.2px;
}
.s1r-bottom {
  margin-top: 16px;
  margin-left: 0px;
  height: 262px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  border-radius: 16px;
}
.s1r-slick-slider {
  display: block;
  overflow: hidden;
  height: 262px;
  width: 100%;
}
.slick-arrow {
width: 32px;
height: 32px;
}
.s1t-bts .s1t-bt+.s1t-bt {
  margin-left: 30px;
}
.s1m-bts .s1m-bt+.s1m-bt {
  margin-left: 30px;
}
.s2_topti::before {
  display: none;
}
.s2_top {
  width: 100%;
  max-width: 384px;
  padding: 0px 14px;
}
.src2, .src3, .src4, .src5, .src6 {
  margin-top: 40px;
}
.src3, .src4, .src5, .src6 {
  max-width: 384px;
}
.s2_topti {
  font-size: 22px;
  line-height: 36px;
}
.s2_topbt {
  margin-top: 0px;
}
.type_normal {
  width: 252px;
  height: 309px;
  padding: 0px 6px;
}
.s2b-normal-ti2 {
  font-size: 15px;
  line-height: 1.6;
  height: 48px;
  -webkit-line-clamp: 2;
}
.s2b-webp {
  margin-top: 65px;
  height: auto !important;
}
.s2b-webp > img {
  position: static;
  left: 0px;
  transform: none;
  height: auto;
  width: 100%;
}
.normal-p2 {
  top: 130px;
  white-space: normal;
}
.s3-ti::before {
  display: none;
}
.s3-ti {
  font-size: 22px;
  line-height: 36px;
}
.s3-list {
  margin: -12px 0px 0px -12px;
}
.s3-listbox {
  position: relative;
  display: block;
  width: calc(50% - 12px);
  height: auto;
  margin: 12px 0px 0px 12px;
  padding: 20px 20px 82px;
}
.s3-boxti {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.5px;
}
.s3-boxik {
  position: absolute;
  left: 16px;
  bottom: 20px;
  margin-left: 0px;
}
.s3-boxik a {
  width: 36px;
  height: 36px;
  margin-left: 0px;
}
.mx3{
  display: none;
}
.s3-boxik a+a {
  width: 36px;
  height: 36px;
  margin-left: 4px;
}
.src3-bt {
  margin-top: 12px;
  text-align: center;
}
.src3-bt a {
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
}
.s4-ti::before {
display: none;
}
.s4-ti {
  font-size: 22px;
  line-height: 36px;
}
.s4-contnet {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.s4-top-ti2 {
  height: 78px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.62;
  -webkit-line-clamp: 3;
}
.s4-ct-top {
  float: none;
  width: 100%;
}
.s4-slider {
  width: 100%;
}
.s4-ct-bottom {
  float: none;
  width: 100%;
  margin-top: 34px;

}
.s4-bbox {
  width: 100%;
  height: 152px;
  padding: 20px;
}
.s4-b-bbox {
  overflow: hidden;
  margin: 4px 0px 0px -12px;
}
.s5-ti::before {
display: none;
}
.s5-ti {
  font-size: 22px;
  line-height: 36px;
}
.s5-contnet {
  margin-left: 0px;
  flex-direction: column;
}
.s5-box {
  width: 100%;
  height: 295px;
  margin-left: 0px;
}
.s5-box-ti {
  padding: 0px 0px 11px 11px;
  border-radius: 0 0 0 20px;
}
.s5-img {
  width: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -5px;
  height: 140px;
}
.esg p {
  bottom: 24px;
  left: 24px;
  font-size: 16px;
  max-width: 250px;
}
.green{
  margin-top: 20px;
}
.policy{
  margin-top: 20px;
}
.green p, .policy p {
  bottom: 24px;
  left: 24px;
  font-size: 16px;
  max-width: 250px;
}
.s6-ti::before {
  display: none;
}
.s6-ti {
  font-size: 22px;
  line-height: 36px;
}
.s6-center {
  display: flex;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 8px;
  height: auto;
}
.s6-center {
  margin-bottom: 12px;
}
.s6-ct-box {
  -webkit-box-flex: 1;
        flex: 1 1 0%;
        width: auto;
  height: 128px;
  margin-left: 0px;
}
.s6-ct-ti {
  
  font-size: 16px;
  line-height: 1.5;
  max-width: 85px;
}
.ctt2 {
  inset: auto auto 16px 16px;
}
.s6-ctik {
  top: 78%;
  width: 30px;
  height: 30px;
}
.s6-social {
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  height: auto;
  min-height: 172px;
  margin-left: 0;
}
.s6-social2 {
  min-height: 184px;
  margin-left: 0;
  margin-top: 12px;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  height: auto;
}
.s6-bottom {
  display: block;
  margin-top: 12px;
}
.s6-bottom .s6-ct-box {
  width: 100%;
  height: auto;
  min-height: 94px;
}
.s6-ct-tex {
  font-size: 0;
  line-height: 0;
  left: 16px;
  bottom: 16px;
}
.ctik2 {
  top: auto;
  right: 16px;
  width: 62px;
  height: 62px;
}
.s6-ct-box.s6-inner_bottom+.s6-inner_bottom {
  margin-left: 0px;
  margin-top: 12px;
  height: 116px;
}
.s6-inner_bottom .s6-ct-ti{
  max-width: 241px;
}
.s6-bt a {
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
}
.ft-inner {
  max-width: 384px;

}
.ft-bt {
  margin-top: 20px;
  width: 100%;
}
.txt_copyright {
  margin-top: 20px;
}
.sh-menu {
  max-width: 370px;
        padding-left: 24px;
        padding-right: 18px;
}
.group_search {
  padding: 72px 0;
  background-position: top 65px right;
  background-size: 63px 70px;
}
.group_search .wrap_search {
  position: relative;
  width: 78%;
  margin: 0;
}
.group_search .wrap_search input {
  height: 60px;
  border-radius: 22px;
  background-color: #333;
  background-image: none;
}
  }